

header{
     width: 100%;
     max-width: 1440px;
     height: 6rem;

     display: flex;
     justify-content: space-between;
     align-items: center;

     box-shadow: 0 3px 5px 1px rgba(201, 198, 198, 0.5);

     /* margin: 0 auto; */
     margin-bottom: 6.5rem;
     padding: 0 6rem;
}

.header-title{
     font-size: 2rem;
}

.dark-mode-box, .light-mode-box {
     display: flex;
     align-items: center;
     gap: .5rem;

     cursor: pointer;
}

.disable{
     display: none;
}

.light-mode-title, .dark-mode-title{
     font-size: 1.4rem;
     font-weight: 600;    
}

.dark-mode-img, .light-mode-img{
     width: 1.4rem;
     margin-bottom: .2rem;
}




/*-- Dark Mode Classes --*/

.header-dark-mode{
     background-color: var(--dark-mode-elements);
     box-shadow: 0px 0px 10px 1px rgba(8, 11, 14, 0.5);
     color: var(--dark-mode-text);
}




/*-- Media Queries --*/

@media (max-width: 375px) {
     header{
          height: 8rem;
          margin-bottom: 2.5rem;
          padding: 0 2rem;
     }
     
     .header-title{
          font-size: 1.5rem;
     }
       
     .light-mode-title, .dark-mode-title{
          font-size: 1.3rem;
          font-weight: 800;    
     }
     
     .dark-mode-img, .light-mode-img{
          width: 1.3rem;
     }
     
}